body{
	/**background-image: url(../im/fondo.jpg);
	background-size: cover;
    background-repeat: no-repeat;*/
	margin-top: 60px;
}
.formu{
    background: rgba(255,255,255,0.5);
    border-radius: 20px;
}
.formu .radio{
    height: 20px;
    margin: 0 10%;
    width: 160px;
    display: table;
}
.rado{
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 0;
}
.radio h5{
    font-size: 15px;
    font-family: sans-serif;
}
#tra1{
    margin: -10px 0;
    padding: 15px 0;
}
#tra2{
    margin: 5px 0;
}
#trabajo{
    margin: 4px 10px 0px 10px;
}
form{
	margin-top: 30px;
}
.contgra{
	height: 80%;
	margin-top: 15%;
}
.cont{
	height: 90vh;
	/*background: rgba(255,25,245,0.9);*/
}
.contgra #logo{
	width: 80%;
	margin-left: 10%;
	margin-top: 15%;
}
.input{
	margin: 15px 1% -20px 0;
	height: 42px;
	width: 100%;
    border-radius: 7px;
}
.btnbuscar{
	margin: 5px 0;
	height: 40px;
	width: 100%;
	border: none;
    border-radius: 10px;
    color: white;
	background-color: rgba(200,0,20,1);
}
video{
   position:fixed;
    min-width: 100%;
    min-height: 100%;
     top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    -webkit-filter: grayscale();
}

@media(min-width:470px){
	.bosy{
		background-size: 120% 100%;
		box-shadow: 2px solid red;
	}
	.contgra{
		margin-top: 4%;
	}
	.contgra #logo{
		width: 60%;
		margin-left: 20%;
		margin-top: 5%;
	}
	.input{
		margin: 18px 5% 0px 5%;
		width: 40%;
		float: left;
	}
	.btnbuscar{
		width: 90%;
		height: 40px;
		margin-left: 5%;
	}
}
@media(min-width:800px){
	.bosy{
	background-size: 100%;
	}
	.contgra{
		width: 80%;
		margin-left: 10%;
		
	}
	
		.contgra #logo{
		width: 60%;
		margin-left: 20%;
		margin-top: 8%;
	}
	.input{
		margin: 1px 2% 22px 2%;
		width: 40%;
		height: 50px;
		float: left;
	}
	.btnbuscar{
		width: 8%;
		height: 50px;
		position: absolute;
		margin-top: 5px;
		margin-left: 0px;
	}
    .formu{
        margin-top: 20px;
}
}
@media(min-width:1024px){
		.contgra #logo{
		width: 40%;
		margin-left: 30%;
		margin-top: 5%;
	}

	.input{
		margin: 0px 1% 30px 0;
		width: 45%;
		height: 50px;
		float: left;
	}
	.btnbuscar{
		width: 5%;
		height: 50px;
		position: absolute;
		margin-top: 0px;
		margin-left: 0px;
	}
	form{
		width: 80%;
		margin-left: 10%;
	}
}
@media(max-height:520px){
		.cont{
			height: 400px;
	}
}