header{
	width: 100%;
	height: 50px;
	
    background: rgb(136,1,20); /* Old browsers */
background: -moz-linear-gradient(top,  rgb(136,1,20) 0%, rgb(220,1,20) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgb(136,1,20) 0%,rgb(220,1,20) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgb(136,1,20) 0%,rgb(220,1,20) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#880114', endColorstr='#c9001a',GradientType=0 ); /* IE6-9 */

	color: #fff;
	position: fixed;  /**para que se quede pegado*/
	top: 0;
	left: 0;
	z-index: 100;
}
#logo{
	width: 120px;
}
.contenedor{
	width: 98%;
	margin: auto;	
}
header .contenedor{
	display: table;
}
#menu-bar{
	display: none;
}
header label {
	float: right;
	font-size: 28px;
	margin: 6px 0;
	cursor: pointer;
}
.menu h5{
    font-size: 15px;
    margin-top: 16px;
    text-align: center;
}
#avatar{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-top: 5px;
}
.menu{
	position: absolute;
	top:50px;
	width: 100%;
	height: 100vh;
	background: -moz-linear-gradient(top,  rgb(136,1,20) 0%, rgb(220,1,20) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgb(136,1,20) 0%,rgb(220,1,20) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgb(136,1,20) 0%,rgb(220,1,20) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#880114', endColorstr='#c9001a',GradientType=0 ); /* IE6-9 */
	transition: all 0.5s;
	transform:translateX(-110%);
}
.menu a{
	display: block;
	color: #fff;
	height: 50px;
	text-decoration: none;
	padding: 15px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
    transition:0.5s;
}
.menu a:hover{
	background: rgba(255,255,255,0.3);
}
#menu-bar:checked ~ .menu{
	transform:translateX(-1%);
}
@media (min-width:824px){
	.menu{
		position:static;
		width: auto;
		height: auto;
		transform:translateX(-1%);
		float:right;
		display:flex;
	}
	.menu a{
		border:none;
	}
	header label{
		display:none;
	}
	.menu a:hover{
	background: rgba(220,0,20,0.5);
    font-size: 15px;
    color: white;
    
	}
}


