/*----------modal Login------------*/

.modal-content h1{
	font-family: cursive;
	background-size: 25px;
	text-align: center;
	color: white;
		
}
.modal-content h4{
	color: black;
	font-size: 21px;
    margin-top: 20px;
    margin-bottom: -20px;
}
.loginlis .btn{
	width: 35%;
max-width: 120px;
	}
.loginlis .btn:hover{
	background-color: white;
	color: black;
}
