body{
    background:#ffffff url(../im/fona.jpg); 
}
.perfil{
    width: 80%;
    margin: 25% auto 5%;
    display: table;
    background-color: rgba(255,255,255,0.9);
     -webkit-box-shadow: 6px 6px 21px 8px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 6px 21px 8px rgba(0,0,0,0.75);
box-shadow: 6px 6px 21px 8px rgba(0,0,0,0.75);
    color: #3333333;
  }
.datos{
    display: table;
    padding-top: 30px;
    width: 100%;
}
.datos .red{
    text-align: center;
    }
.datos .red img{
    border: 5px rgb(210,20,20) solid;
    border-radius: 20px;
    }
.fotperf { 
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 330px;
   width: 100%;
   }
#dni{
   width: 94%;
    margin: auto;
}
.nameoficio{
    color:rgb(2,0,20);
    font-family: 'Baloo Bhaina', cursive;
    font-size: 25px;
}
#dni h2 ,#descrip{
    font-size: 20px;
    padding: 0;
    margin: 10px;
}
#descrip{
    text-align: justify
}
.dat #name{
    color:rgb(200,0,20);
    font-family: 'Baloo Bhaina', cursive;
}
#perfil{
    color:rgb(150,0,20);
    font-family: 'Baloo Bhaina', cursive;
    border-bottom: 1px solid rgb(150,0,50);
}
#ofi{
    color:rgb(150,0,20);
    font-family: 'Baloo Bhaina', cursive;
    border-bottom: 1px solid rgb(150,0,50);
}
.puntos{
    margin-left: 100%;
    color: rgb(10,0,120);
    font-family: 'Baloo Bhaina', cursive;
}


/**skill**/
.total{
    border:0.5px solid red;
    width:60%;
    height:20px;
    border-radius:8px;
}
.avanexperiencia{
    height:18px;
    border-radius:8px;
    border-bottom: 2.5px solid rgba(0,0,0,0.5);
}
.total:hover{
    background-color: rgba(0,0,0,0.1);;
}
@media (min-width:490px){
    .perfil{
        margin-top: 17%;
    }
}
@media (min-width:550px){
   .datos{
    display: table;
    padding-top: 30px;
    width: 80%;
    margin: auto;
}
    .perfil{
        margin-top: 11%;
    }
}
@media (min-width:864px){
    .perfil{
         margin-top: 8%;
    }
}
@media (min-width:924px){
    .perfil{
         margin-top: 6%;
    }
}


.bandeja{
    display: none;
    width: 250px;
    position: fixed;
    margin-top: 45px;
    height: 100px;
    background-color: crimson;
    margin-left:81%;
}
.bandeja .flecha{
    margin-left: 75px;
    margin-top: -15px;
    background-color: crimson;
    width: 30px;
    height: 20px;
    position: absolute;
    border-radius: 50px 50px 10px 20px;
   
}
.bandeja h5{
    text-align: center;
    padding:1px 35px 0;
    font-size: 17px;
    color: white;
}
.bandeja h5 span{
    font-size: 25px;
    padding:0px 22px 0px 0px;
}

