*{
	margin: 0;
	padding: 0;
	
}
body{
	background-image: url(../im/fona.jpg);
    
}
.formu{
	width: 90%;
	margin: auto;
    color: white;
	margin-top: 30px;
	background:rgba(220,1,20,1);
	/*-webkit-box-shadow: 9px 10px 29px 2px rgba(255,255,255,1);
-moz-box-shadow: 9px 10px 29px 2px rgba(255,255,255,1);
box-shadow: 9px 10px 29px 2px rgba(255,255,255,1);*/
}
.formregistro input{
	height: 40px;
	width: 80%;
	border-radius: 5px;
	margin-left: 15px;
    color: white;
}

.formregistro h4{
margin-left: 15px;
    color: white;
}
.formregistro{
	margin-top: 35px;
	display: table;
}
.select{
	height: 30px;
	width: 40px;
	border-radius: 5px;
	margin-left: 15px;
    color: black;
}
.selectmes{
	height: 30px;
	width: 90px;
	border-radius: 5px;
	margin-left: 15px; 
    color: black;
}
.year{
	height: 30px;
	width: 50px;
	border-radius: 5px;
	margin-left: 15px; 
}


.aviso{
	background-color: bisque;
	border: 2px solid white;
	color: black;
	font-family: cursive;
	width: 40%;
	margin-left: 5%;
}
.aviso h4{
    color: black;
}
.ofertante{
	display: none;
	transition:all 2s;
}
#check{
	height: 20px;
	width: 20px;
	margin-top: -50px;
}
#check:checked ~ .ofertante{
	display: table;
	transition:display 2s;
	transition-delay: 1s;
}
#experiencia , #anio{
	height: 30px;
	width: 100px;
	border-radius: 5px;
	margin-left: 15px; 
}
.boton .registro{
    padding: 7px 10px;
	max-width: 200px;
    cursor: pointer;
	border-radius: 5px;
	background-color: black;
	font-size: 15px;
	border-color: black;
}
.registro:hover{
    background-color: rgba(0,0,0,0.9);
}
@media(min-width:490px){
	
	.formu{
		width: 80%;
		margin: 30px auto;
	}
.formregistro input{
	height: 40px;
	width: 90%;
	border-radius: 5px;
	margin-left: 15px;
}
	.formregistro{
		width: 80%;
		margin: 20px auto;
	}
	#experiencia , #anio{
	height: 30px;
	width: 100px;
	border-radius: 5px;
	margin-left: 15px; 
}
	
}
@media(min-width:764px){
	
	.formu{
		width: 65%;
		margin:60px auto;
	}
	
}
@media(min-width:1024px){
	
	.formu{
		width: 60%;
		margin:60px  auto;
	}
	.formregistro{
		width: 100%;
	}
	.separ{
		float: left;
		width: 50%;
	}
	.boton{
		text-align: center;
	}
@media(min-width:1350px){
	
	.formu{
		width: 60%;
		margin: 60px auto;
	}
}
