*{
	margin: 0;
	padding: 0;
	
}
body{
	background-image: url(../imagen/fondo.jpg);
}
.formu{
	width: 90%;
	margin: auto;
	margin-top: 30px;
	background:rgba(220,1,20,1);
	/*-webkit-box-shadow: 9px 10px 29px 2px rgba(255,255,255,1);
-moz-box-shadow: 9px 10px 29px 2px rgba(255,255,255,1);
box-shadow: 9px 10px 29px 2px rgba(255,255,255,1);*/
}
.registros{
	height: 40px;
	width: 30%;
	border-radius: 5px;
	margin-left: 15px;
	background-color: black;
	color: white;
}
/*#menu{
	width: 100%;
	height: 10%;
	background-color: #ffffff;
	
}
#menu  img{
	width: 225px;
	height: 80px;
	
}*/
h4{
margin-left: 15px;
}
form{
	margin-top: 35px;
	display: table;
}
.select{
	height: 30px;
	width: 40px;
	border-radius: 5px;
	margin-left: 15px; 
}
.selectmes{
	height: 30px;
	width: 90px;
	border-radius: 5px;
	margin-left: 15px; 
}
.year{
	height: 30px;
	width: 50px;
	border-radius: 5px;
	margin-left: 15px; 
}
.experiencia{
	height: 30px;
	width: 50px;
	border-radius: 5px;
	margin-left: 15px; 
}
.registro{
	height: 40px;
	width: 80%;
	max-width: 200px;
	border-radius: 5px;
	background-color: black;
	color: white;
	font-size: 20px;
	border-color: black;
}
.aviso{
	background-color: bisque;
	border: 2px solid white;
	color: chocolate;
	font-family: cursive;
	width: 40%;
	margin-left: 5%;
}
.ofertante{
	display: none;
	transition:all 2s;
}
#check{
	height: 20px;
	width: 20px;
	margin-top: -50px;
}
#check:checked ~ .ofertante{
	display: table;
	transition:display 2s;
	transition-delay: 1s;
}
@media(min-width:490px){
	
	.formu{
		width: 80%;
		margin: 30px auto;
	}
	input{
	height: 40px;
	width: 90%;
	border-radius: 5px;
	margin-left: 15px;
}
	form{
		width: 80%;
		margin: 20px auto;
	}
	
	
}
@media(min-width:764px){
	
	.formu{
		width: 65%;
		margin:30px auto;
	}
	
}
@media(min-width:1024px){
	
	.formu{
		width: 60%;
		margin:30px  auto;
	}
	form{
		width: 100%;
	}
	.separ{
		float: left;
		width: 50%;
	}
	.boton{
		text-align: center;
	}
@media(min-width:1350px){
	
	.formu{
		width: 60%;
		margin: 30px auto;
	}
}
